li {
  margin-bottom: 30px;
}

span {
  padding: 5px;
}

span.task-item-content {
  border: solid 2px transparent;
}

span.edit-item-button {
  border: solid 2px yellow;
}

span.done-item-button {
  border: solid 2px blue;
}

span.delete-item-button {
  border: solid 2px red;
}

li.completed-item {
  color: gray;
  text-decoration: line-through;
}

li.completed-item span {
  border: solid 2px gray;
}

.hide {
  display: none;
}
